<div class="container col-sm-4">
	<h2>Add Event</h2>
	<form name="myForm" novalidata>
	<h3>Title</h3>
	<div class="form-group">
		<label for="newTitle">Event Title:</label>
		<input ng-model="eventTitle" name="eventTitle" class="form-control" id="newTitle">
	</div>

							
    <div class="newStartDate">
		<h3>Start</h3>

		<div class="container">
			<label for="startTime">Start Date and Time</label>
			<input type="datetime-local" id="startTime"></input>
		</div>
	</div>


	<div class="newEndDate">
		<h3>End</h3>
		<div class="container">
			<label for="endTime">End Date and Time</label>
			<input type="datetime-local" id="endTime"></input>
		</div>
	</div>
	<div>
		<button ng-click="addEvent()" type="submit" class="btn btn-primary">
			Add Event</button>
	</div>

	</form>
</div>