<!DOCTYPE html>

<html>

	<head>

		<!-- Placeholder title. I dunno the actual title. -->
		<title>
			The iSchool Calendar
		</title>

		<!-- Setting the shortcut icon (the icon you'll see in the URL bar and title bar). -->
		<link href="img/shortcut-icon.png" type="image/png" rel="shortcut icon" />

		<!-- Meta data, including data for search engines and crawlers. -->
		<meta charset="UTF-8" />
		<meta name="description" content="The internal calendar for the University of Washington's
			iSchool, powered by Parse." />
		<meta name="author" content="Joel Elizaga, Randi Mendel, Yi Pang, Mikhail Savvateev">
		<meta name="keywords" content="calendar, ischool, uw, washington, university" />

		<!-- Importing Google's Angular FullCalendar CSS and JavaScript. -->
		<link href="fullcalendar-2.4.0/fullcalendar.css" rel="stylesheet" />
		<link href="fullcalendar-2.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
		<script src="fullcalendar-2.4.0/lib/moment.min.js"></script>
		<script src="fullcalendar-2.4.0/lib/jquery.min.js"></script>
		<script src="fullcalendar-2.4.0/fullcalendar.min.js"></script>
		
		<!-- Bootstrap. -->
		<script src="bootstrap/bootstrap.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		
		<!-- Angular. -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

		<!-- Parse. -->
		<script src="//www.parsecdn.com/js/parse-1.6.0.min.js"></script>

	 	<!-- JavaScript & stylesheet. -->
	 	<script src="calendar.js"></script>
		<link rel="stylesheet" href="main.css"></link>

	</head>

	<body ng-app="iSchoolCalendar">

		<!-- Title. -->
		<div id="title-div">

			<h1>
				iNTERCALENDAR
			</h1>

		</div>

		<!-- Buttons that switch the calendar view from list and from calendar format. -->
		<div id="view-switcher">

			<ul>
				<li class="switch-button">
					<a href="#content-frame" onClick="showCalendar()">
						Calendar View
					</a>
				</li>
				<li class="switch-button">
					<a href="#content-frame" onClick="showList()">
						List View
					</a>
				</li>
			</ul>

		</div>

		<!-- content-frame: Purple frame wrapping around primary content. -->
		<div id="content-frame">

			<!-- primary-content: Contains calendar and all primary content. -->
			<div id="primary-content">

				<div class="container row">

					<!-- CALENDAR MODALS. -->
					<div id="fullCalModal" class="modal fade">
					    <div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-header">
					                <h4 class="modal-title modalTitle"></h4>
					            </div>
					            <div class="modal-body modalBody"></div>
					            <div class="modal-footer">
					                <button class="btn btn-default urlbutton" 
					                	ng-show="eventUrl != undefined">
					                	<a class="eventUrl" href="event.url">
					                		Event Page
					                	</a>
					                </button>
					                <button type="button" class="btn btn-default" 
					                	data-dismiss="modal">
					                		Close
					                </button>
					            </div>
					        </div>
					    </div>
					</div>

					<!-- CALENDAR. -->
					<div class="container col-sm-12" id="calendar"></div>
					
					<!-- LIST VIEW. -->
					<div id="listView">
						<ul id="eventList"></ul>
					</div>

					<!-- add-event-div: Add event form. Automatically hidden. -->
					<div id="add-event-div">

						<div class="container col-sm-6">

							<h2>
								<i class="fa fa-calendar"></i>
								Add Event
							</h2>

							<form name="myForm" novalidata>

								<div class="form-group">
									<label for="newTitle">Title</label>
									<br />
									<input ng-model="eventTitle" name="eventTitle" id="newTitle" 
										placeholder="Your event's title." ></input>
								</div>

								<div class="form-group">
									<label for="eventUrl">URL*</label>
									<br />
									<input name="eventUrl" id="eventUrl" 
										placeholder="Optional URL."></input>
								</div>

								<div class="form-group">
									<label>Starts</label>
									<br />
									<select id="startMonth">
										<option>January</option>
										<option>February</option>
										<option>March</option>
										<option>April</option>
										<option>May</option>
										<option>June</option>
										<option>July</option>
										<option>August</option>
										<option>September</option>
										<option>October</option>
										<option>November</option>
										<option>December</option>
									</select>
									<select id="startDay">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
										<option>11</option>
										<option>12</option>
										<option>13</option>
										<option>14</option>
										<option>15</option>
										<option>16</option>
										<option>17</option>
										<option>18</option>
										<option>19</option>
										<option>20</option>
										<option>21</option>
										<option>22</option>
										<option>23</option>
										<option>24</option>
										<option>25</option>
										<option>26</option>
										<option>27</option>
										<option>28</option>
										<option>29</option>
										<option>30</option>
										<option>31</option>
									</select>
									<select id="startYear">
										<option>2015</option>
										<option>2016</option>
										<option>2017</option>
										<option>2018</option>
										<option>2019</option>
										<option>2020</option>
									</select>
									<br />
									<select id="startHour">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
										<option>11</option>
										<option>12</option>
									</select>

									<select id="startMinute">
										<option>00</option>
										<option>15</option>
										<option>30</option>
										<option>45</option>
									</select>

									<select id="startChrono">
										<option>AM</option>
										<option>PM</option>
									</select>
								</div>

								<div class="form-group">
									<label>Ends</label>
									<br />
									<select id="endMonth">
										<option>January</option>
										<option>February</option>
										<option>March</option>
										<option>April</option>
										<option>May</option>
										<option>June</option>
										<option>July</option>
										<option>August</option>
										<option>September</option>
										<option>October</option>
										<option>November</option>
										<option>December</option>
									</select>
									<select id="endDay">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
										<option>11</option>
										<option>12</option>
										<option>13</option>
										<option>14</option>
										<option>15</option>
										<option>16</option>
										<option>17</option>
										<option>18</option>
										<option>19</option>
										<option>20</option>
										<option>21</option>
										<option>22</option>
										<option>23</option>
										<option>24</option>
										<option>25</option>
										<option>26</option>
										<option>27</option>
										<option>28</option>
										<option>29</option>
										<option>30</option>
										<option>31</option>
									</select>
									<select id="endYear">
										<option>2015</option>
										<option>2016</option>
										<option>2017</option>
										<option>2018</option>
										<option>2019</option>
										<option>2020</option>
									</select>
									<br />
									<select id="endHour">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
										<option>11</option>
										<option>12</option>
									</select>
									<select id="endMinute">
										<option>00</option>
										<option>15</option>
										<option>30</option>
										<option>45</option>
									</select>
									<select id="endChrono">
										<option>AM</option>
										<option>PM</option>
									</select>
								</div>

								<div class="form-group">
									<label for="eventLocation">Location*</label>
									<br />
									<input name="eventLocation" id="eventLocation"
										placeholder="Where is it?"></input>
								</div>

								<div class="form-group">
									<label for="eventDesc">Description</label>
									<br />
									<textarea id="eventDesc" 
										placeholder="More details about your event." rows="4" 
										cols="30"></textarea>
								</div>

								<p class="tiny-note">
									* Not required!
								</p>

								<div>
									<button type="submit" id="submit-event" class="form-group" 
										onclick="submitEvent()">
										Submit
									</button>
								</div>

							</form>

							<!-- Displays errors regarding event submission. See calendar.js. -->
							<ul id="event-errors" class="errors">
							</ul>
							<!-- Displays success notification. -->
							<ul id="event-success" class="success">
							</ul>

						</div>

					</div>

					<!-- login-div: Sign up or sign in here. -->
					<div id="login-div" class="container col-sm-6">

						<h2>
							<i class="fa fa-sign-in"></i>
		                    Sign Up / Log In
		                </h2>

		                <form class="form-signin">

		                    <div class="form-group">
		                        <label for="inputEmail">Email</label>
		                        <br />
		                        <input type="email" id="userEmail" 
		                            placeholder="Your email." />
		                    </div>

		                    <div class="form-group">
		                        <label for="inputPassword">Password</label>
		                        <br />
		                        <input type="password" id="userPswd" 
		                            placeholder="Your password." ng-model="password" />
		                    </div>

		                    <!-- Submit buttons. -->
		                    <div class="form-group">
		                        <button type="submit" onclick="logIn()">
		                            Log In
		                        </button>
		                    </div>

		                    <div class="form-group">
		                        <button type="submit" onclick="signUp()">
		                            Sign Up
		                        </button>
		                    </div>

		                </form>

		                <!-- Displays errors regarding users. See calendar.js. -->
		                <ul id="login-errors" class="errors">
		                </ul>

		                <!-- Displays notification on successful sign in or sign up. -->
		                <ul id="login-success" class="success">
						</ul>

					</div>

				</div>

			</div>

			<!-- These buttons toggle user forms. -->
			<div id="user-buttons">

				<!-- Unhides event form onclick. -->
				<div class="button-div" id="add-event-button">
					<a href="#add-event-div" onclick="revealEventForm()">
						Add Event
					</a>
				</div>

				<!-- Unhides login form onclick. -->
				<div class="button-div" id="login-button">
					<a href="#login-div" onclick="revealLoginForm()">
						Sign Up or Log In
					</a>
				</div>

				<div class="button-div" id="logout-button">
					<a href="#" onclick="logOut()">
						Log Out
					</a>
				</div>

			</div>

		</div>

	</body>

</html>