<!DOCTYPE html>

<html>

    <head>

        <title>
            Sign In
        </title>

        <!-- Setting the shortcut icon (the icon you'll see in the URL bar and title bar). -->
        <link href="img/shortcut-icon.png" type="image/png" rel="shortcut icon" />

        <!-- Meta data, including data for search engines and crawlers. -->
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" contents="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- Angular. -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

        <!-- Firebase. -->
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

        <!-- AngularFire. -->
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

        <!-- Stylesheet. -->
        <link rel="stylesheet" href="main.css"></link>
        <!-- JavaScript & stylesheet. -->
        <script src="calendar.js"></script>

    </head>

    <body class="container-fluid" ng-app="iSchoolCalendar" ng-controller="myCtrl"> 

        <div id="content-frame">

            <div id="primary-content">

                <h1>
                    Sign In
                </h1>

                <form class="form-signin">

                    <div class="form-group">
                        <label for="inputEmail">User</label>
                        <br />
                        <input type="email" class="form-control" id="inputEmail" 
                            placeholder="Your email." ng-model="email" required />
                    </div>

                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <br />
                        <input type="password" class="form-control" id="inputPassword" 
                            placeholder="Your password." ng-model="password" required />
                    </div>

                    <!-- Submit buttons: should only be active if certain inputs are valid -->
                    <div class="form-group">
                        <button ng-click="signUp()" ng-disabled="myForm.$invalid" type="submit" class="btn btn-primary">
                            Sign-up
                        </button>
                    </div>

                    <div class="form-group">
                        <button type="submit">
                            Sign In
                            <span class="fa fa-refresh fa-spin spinner"></span>
                        </button>
                    </div>

                </form>

            </div>

        </div>

    </body>

</html>